<section class="header">
<div class="user_image"><%= image_tag current_user.image %></div>

<nav class="top-bar">
<section class="top-bar-section">
  <ul class="title-area">
    <li class="name has-dropdown">
      <a href="#"><%= current_user.nickname %>'s DarkChamber</a>
      <ul class="dropdown">
        <li>Posts by User: <%= current_user.counts.media %></li>
        <li>Followers: <%= current_user.counts.followed_by %></li>
        <li>Following: <%= current_user.counts.follows %></li>
      </ul>
    </li>
  </ul>

  <ul class="right">
    <li class="active"><%= link_to "Logout", logout_path, method: :delete %></li>
  </ul>
</section>
</nav>
</section>